<div th:fragment="menu">
    <nav class="main-header navbar navbar-expand" th:classappend="${theme == 'LIGHT' ? 'navbar-light' : 'navbar-dark'}">
        <ul class="navbar-nav" style="width: 100%">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item ml-auto">
                <div class="row">
                    <div class="col-4">
                        <button id="themeSwitchButton" class="btn" style="outline: none"><p style="margin-bottom: 0px" id="cookieDisplay"></p>
                        </button>
                    </div>
                    <div class="col-4">
                        <select id="languageSelect" style="width: 50px" class="form-control" onchange="changeLanguage()">
                            <option value="ru" th:selected="${#locale.language == 'ru'}">ru</option>
                            <option value="uk" th:selected="${#locale.language == 'uk'}">uk</option>
                        </select>
                    </div>
                    <div class="col-4"></div>
                </div>
            </li>
        </ul>
    </nav>

    <aside class="main-sidebar elevation-4" th:classappend="${theme == 'LIGHT' ? 'sidebar-light-primary' : 'sidebar-dark-primary'}">
        <a th:href="@{{context_path}/user/view(context_path = ${context_path})}" id="aside-for-theme" class="brand-link" style="height: 56.67px; padding: 3px;">
            <img th:src="@{{context_path}/images/logo.png(context_path = ${context_path})}" alt="AdminLTE Logo" class="logo-image"
                 style="opacity: .8; width:75%; margin:auto;">
            <img th:src="@{{context_path}/images/logo-mini.png(context_path = ${context_path})}" alt="AdminLTE Logo Mini" class="mini-logo-image"
                 style="opacity: .8; width:50px; height: 48px; margin:auto;">
        </a>
        <div class="sidebar os-host os-theme-black os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
            <div class="os-padding">
                <div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;">
                    <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
                        <nav class="mt-2">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                                data-accordion="false">
                                <li class="nav-item">
                                    <a class="nav-link2 nav-link">
                                        <i class="fa fa-chart-line"></i>
                                        <p>
                                            <span th:text="#{Сводка}"></span>
                                        </p>
                                        <i class="right fas fa-angle-left"></i>
                                    </a>
                                    <ul class="nav nav-treeview">

                                        <div th:each="flat : ${user.flats}">
                                            <li class="nav-item">
                                                <a th:href="@{{context_path}/flat/{id}(id=${flat.id}, context_path=${context_path})}" class="nav-link">
                                                    <i class="fa fa-building nav-icon"></i>
                                                    <p style="font-size: 12px">Дом [[${flat.house.name}]],
                                                        кв.[[${flat.number}]]</p>
                                                </a>
                                            </li>
                                        </div>

                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" style="width:100%;" class="nav-link2 nav-link">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                        <p class="pl-1">
                                            <span th:text="#{Квитанции}"></span>
                                        </p>
                                        <i class="right fas fa-angle-left"></i>
                                    </a>
                                    <ul class="nav nav-treeview" style="font-weight: 400">
                                        <li class="nav-item dropdown-items">
                                            <a th:href="@{{context_path}/invoice/index(context_path = ${context_path})}" class="nav-link dropdown-links"
                                               style="margin:0; width:100%;">
                                                <i style="font-size: 12px;" class="fa fa-file nav-icon"
                                                   aria-hidden="true"></i>
                                                <p>
                                                    <span th:text="#{Все_квитанции}"></span>
                                                </p>
                                            </a>
                                        </li>
                                        <div th:each="flat : ${user.flats}">
                                            <li class="nav-item dropdown-items">
                                                <a th:href="@{{context_path}/invoice/index/{id}(id=${flat.id}, context_path = ${context_path})}" class="nav-link dropdown-links"
                                                   style="margin:0; width:100%;">
                                                    <i style="font-size: 12px;" class="fa fa-file-alt nav-icon"
                                                       aria-hidden="true"></i>
                                                    <p style="font-size: 12px">Дом [[${flat.house.name}]],
                                                        кв.[[${flat.number}]]</p>
                                                </a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" style="width:100%;" class="nav-link2 nav-link">
                                        <i class="fa fa-money-bill" aria-hidden="true"></i>
                                        <p class="pl-1">
                                            <span th:text="#{Тарифи}"></span>
                                        </p>
                                        <i class="right fas fa-angle-left"></i>
                                    </a>
                                    <ul class="nav nav-treeview" style="font-weight: 400">
                                        <div th:each="flat : ${user.flats}">
                                            <li class="nav-item dropdown-items">
                                                <a th:href="@{/tariff/{id}(id=${flat.id})}" class="nav-link dropdown-links"
                                                   style="margin:0; width:100%; ">
                                                    <i style="font-size: 12px;" class="fa fa-file-alt nav-icon"
                                                       aria-hidden="true"></i>
                                                    <p style="font-size: 12px">Дом [[${flat.house.name}]],
                                                        кв.[[${flat.number}]]</p>
                                                </a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{{context_path}/message/index(context_path = ${context_path})}" style="width:100%;"
                                       class="nav-link">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <p class="pl-1">
                                            <span th:text="#{Сообщения}"></span>

                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{{context_path}/master-request/index(context_path = ${context_path})}" style="width:100%;"
                                       class="nav-link">
                                        <i class="fa fa-wrench" aria-hidden="true"></i>
                                        <p class="pl-1">
                                            <span style="font-size: 15px" th:text="#{Заявки_вызова_мастера}"></span>
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{{context_path}/user/view(context_path = ${context_path})}" style="width:100%"
                                       class="nav-link">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <p class="pl-1">
                                            <span th:text="#{Профиль}"></span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const themeToggle = $("#themeToggle");
            const body = $("body");
            const nav = $("nav");
            const aside = $("aside");
            const asideForTheme = $("#aside-for-theme");
            console.log(document.cookie)
            let darkModeEnabled = false;
            toggleTheme()
            function toggleTheme() {
                darkModeEnabled = !darkModeEnabled;
                const theme = getCookie("theme");
                const tables = document.querySelectorAll("table");
                const tableRows = document.querySelectorAll("table tr");
                if (theme === "☁") {
                    body.addClass("dark-mode");
                    nav.removeClass("navbar-light").addClass("navbar-dark");
                    aside.removeClass("sidebar-light-primary").addClass("sidebar-dark-primary");
                    asideForTheme.css("background-color", "#343a40");
                    tables.forEach(table =>{
                        table.classList.add("table-dark")
                    });
                    tableRows.forEach(row => {
                        row.classList.add("table-dark");
                    });
                    $(".text-for-breadcrumb").css("color", "#fff");
                } else {
                    body.removeClass("dark-mode");
                    nav.removeClass("navbar-dark").addClass("navbar-light");
                    aside.removeClass("sidebar-dark-primary").addClass("sidebar-light-primary");
                    asideForTheme.css("background-color", "");
                    tables.forEach(table =>{
                        table.classList.remove("table-dark")
                    });
                    tableRows.forEach(row => {
                        row.classList.remove("table-dark");
                    });
                    $(".text-for-breadcrumb").css("color", "#212529BF");
                }
            }

            function setCookie(name, value) {
                const date = new Date();
                date.setTime(date.getTime() + (365 * 24 * 60 * 60 * 1000));
                const expires = '; expires=' + date.toUTCString();
                document.cookie = name + '=' + (value || '') + expires + '; path=/';
            }

            const cookieDisplayElement = document.getElementById('cookieDisplay');
            cookieDisplayElement.textContent = getCookie("theme")

            function getCookie(name) {
                const nameEQ = name + '=';
                const ca = document.cookie.split(';');
                for (let i = 0; i < ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) === ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
                }
                return null;
            }
            themeToggle.click(toggleTheme);

            const themeSwitchButton = document.getElementById("themeSwitchButton");
            themeSwitchButton.type='button';
            var contextPath = '[[${context_path}]]'

            themeSwitchButton.addEventListener("click", function() {
                if (getCookie("theme") === "☁") {
                    setCookie("theme", "☀")
                    themeSwitchButton.textContent = "☀";
                    $.ajax({
                        url: contextPath+'/user/change/theme/light',
                        method: 'GET',
                        success: function(response) {
                        },
                    });
                    toggleTheme()
                } else {
                    setCookie("theme", "☁")
                    themeSwitchButton.textContent = "☁";
                    $.ajax({
                        url: contextPath+'/user/change/theme/dark',
                        method: 'GET',
                        success: function(response) {
                        },
                    });
                    toggleTheme()
                }
            });
        });
        function changeLanguage() {
            var selectedLanguage = document.getElementById("languageSelect").value;
            window.location.search = "?lang=" + selectedLanguage;
        }
    </script>
</div>