<div th:fragment="menu">
    <!--  navbar  -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <div class="nav-link">Панель Адміністратора</div>
            </li>
        </ul>
    </nav>

    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="/admin/" class="brand-link" style="height: 56.67px;padding: 3px;">
            <img src="/images/logo.png" alt="AdminLTE Logo" class="logo-image"
                 style="opacity: .8; width:75%; margin:auto;">
            <img src="/images/logo-mini.png" alt="AdminLTE Logo Mini" class="mini-logo-image"
                 style="opacity: .8; width:50px; height: 48px; margin:auto;">
        </a>
        <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition"
             style="background-color: white; color: #000;">
            <div class="os-padding">
                <div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;">
                    <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
                        <nav class="mt-2">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                                data-accordion="false">
                                <li class="nav-item">
                                    <a class="nav-link2 nav-link" style="color: #3e393e;">
                                        <i class="fa fa-chart-line"></i>
                                        <p>
                                            Сводка
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview" style="color: #3e393e;">

                                        <div th:each="flat : ${user.flats}">
                                            <li class="nav-item">
                                                <a th:href="@{/flat/{id}(id=${flat.id})}" class="nav-link"
                                                   style="color: #3e393e;">
                                                    <i class="fa fa-building nav-icon"></i>
                                                    <p style="font-size: 12px">Дом [[${flat.house.name}]],
                                                        кв.[[${flat.number}]]</p>
                                                </a>
                                            </li>
                                        </div>

                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" style="width:100%; color: #3e393e;" class="nav-link2 nav-link">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                        <p class="pl-1">Квитанции</p>
                                        <i class="right fas fa-angle-left"></i>
                                    </a>
                                    <ul class="nav nav-treeview" style="font-weight: 400">
                                        <li class="nav-item dropdown-items">
                                            <a href="/invoice/index" class="nav-link dropdown-links"
                                               style="margin:0; width:100%; color: #3e393e;">
                                                <i style="font-size: 12px;" class="fa fa-file nav-icon"
                                                   aria-hidden="true"></i>
                                                <p>Все квитанции</p>
                                            </a>
                                        </li>
                                        <div th:each="flat : ${user.flats}">
                                            <li class="nav-item dropdown-items">
                                                <a th:href="@{/invoice/index/{id}(id=${flat.id})}" class="nav-link dropdown-links"
                                                   style="margin:0; width:100%; color: #3e393e;">
                                                    <i style="font-size: 12px;" class="fa fa-file-alt nav-icon"
                                                       aria-hidden="true"></i>
                                                    <p style="font-size: 12px">Дом [[${flat.house.name}]],
                                                        кв.[[${flat.number}]]</p>
                                                </a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" style="width:100%; color: #3e393e;" class="nav-link2 nav-link">
                                        <i class="fa fa-money-bill" aria-hidden="true"></i>
                                        <p class="pl-1">Тарифи</p>
                                        <i class="right fas fa-angle-left"></i>
                                    </a>
                                    <ul class="nav nav-treeview" style="font-weight: 400">
                                        <div th:each="flat : ${user.flats}">
                                            <li class="nav-item dropdown-items">
                                                <a th:href="@{/tariff/{id}(id=${flat.id})}" class="nav-link dropdown-links"
                                                   style="margin:0; width:100%; color: #3e393e;">
                                                    <i style="font-size: 12px;" class="fa fa-file-alt nav-icon"
                                                       aria-hidden="true"></i>
                                                    <p style="font-size: 12px">Дом [[${flat.house.name}]],
                                                        кв.[[${flat.number}]]</p>
                                                </a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="/message/index" style="width:100%; color: #3e393e;"
                                       class="nav-link">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <p class="pl-1">Сообщения</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/master-request/index" style="width:100%; color: #3e393e;"
                                       class="nav-link">
                                        <i class="fa fa-wrench" aria-hidden="true"></i>
                                        <p class="pl-1">Заявки вызова мастера</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/user/view" style="width:100%; color: #3e393e;"
                                       class="nav-link">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <p class="pl-1">Профиль</p>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>