<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{{context_path}/adminlte/dist/css/adminlte.min.css?v=3.2.0(context_path = ${context_path})}">
    <link rel="stylesheet" th:href="@{{context_path}/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css(context_path = ${context_path})}">
    <link rel="stylesheet" th:href="@{{context_path}/style.css(context_path = ${context_path})}">
    <link rel="stylesheet" th:href="@{{context_path}/adminlte/plugins/fontawesome-free/css/all.min.css(context_path = ${context_path})}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</head>

<body class="sidebar-mini layout-fixed sidebar-closed -collapse" th:classappend="${theme == 'LIGHT' ? '' : 'dark-mode'}" style="height: auto;">
<div class="wrapper">
    <div th:replace="blocks/menu :: menu"></div>
    <div class="content-wrapper text-for-breadcrumb">
        <div class="content-header" style="display: flex; align-items: center;">
            <h4 style="margin-left: 10px; margin-right: auto;">
                <span th:text="#{Просмотр_квитанции}"></span>: №[[${invoice.number}]]
            </h4>
            <ol class="breadcrumb" style="margin-right: 1%">
                <li class="breadcrumb-item"><a th:href="@{{context_path}/flat/{id}(id = ${user.flats.get(0).id}, context_path=${context_path})}"
                                               class="text-for-breadcrumb">
                    <span th:text="#{Главная}"></span>
                </a></li>
                <li class="breadcrumb-item"><a th:href="@{{context_path}invoice/index(context_path = ${context_path})}"
                                               class="text-for-breadcrumb">
                    <span th:text="#{Квитанции}"></span>
                </a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span th:text="#{Квитанция_на_оплату}"></span>
                </li>
            </ol>
        </div>
        <section class="content">
            <div class="card">
                <div class="card-header">
                    <a class="btn btn-primary float-right">
                        <i class="fa fa-print" aria-hidden="true"></i>
                        <span th:text="#{Распечатать}"></span>
                    </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped" th:classappend="${theme == 'LIGHT' ? '' : 'table-dark'}">
                            <tr>
                                <th>№</th>
                                <th>[[#{Услуга}]]</th>
                                <th>[[#{Количество_потребления_расход}]]</th>
                                <th>[[#{Ед._изм.}]]</th>
                                <th>[[#{Цена_за_ед.,_грн}]]</th>
                                <th>[[#{Стоимость,_грн}]]</th>
                            </tr>
                            <tr th:each="service, index : ${invoice.invoiceAdditionalServices}">
                                <td>[[${index.index}]]</td>
                                <td>[[${service.additionalService.name}]]</td>
                                <td>[[${service.consumption}]]</td>
                                <td>[[${service.additionalService.getUnitOfMeasurement().name}]]</td>
                                <td>[[${service.price}]]</td>
                                <td>[[${service.price * service.consumption}]]</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-success float-right">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        [[#{Оплатить}]]
                    </a>
                    <a class="btn btn-warning float-right" style="margin-right: 10px;">
                        <i class="fa fa-file-pdf" style="color: white" aria-hidden="true"></i>
                        [[#{Скачать_в_pdf}]]
                    </a>
                </div>
            </div>
        </section>
    </div>
    <footer class="main-footer">
        Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a
            href="https://avada-media.ua/moydom24/">"МойДом24"</a>.
        Документация API доступна <a href="/doc">по ссылке</a>.
    </footer>
</div>

<script th:src="@{{context_path}/adminlte/plugins/jquery/jquery.min.js(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/adminlte/dist/js/adminlte.js?v=3.2.0(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/adminlte/dist/js/demo.js(context_path = ${context_path})}"></script>
<script th:src="@{{context_path}/script.js(context_path = ${context_path})}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

</body>

</html>