<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="http://myhouse24.avada-media.ua/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/login.css}">
    <title>Hello, world!</title>
</head>
<body>

<div class="login-container">
    <div class="login-box">
        <a href="/myHouse/"><img src="/images/logo.png" class="img-fluid" alt=""></a>
        <br>
        <form action="/cabinet/login" method="post">
            <div class="credentials">
                <div class="row tabs">
                    <div class="col-md-6 text-center active-tab">
                        <p>Для жильца</p>
                    </div>
                    <a href="http://localhost:8080/admin/login" class="col-md-6 text-center"
                       style="color: black; text-decoration: none">
                        <p>Для администрации</p>
                    </a>
                </div>
                <p style="text-align: center; padding-block: 20px;">Вход в личный кабинет</p>

                <div class="row  inputs">
                    <input type="text" placeholder="E-mail или ID" id="username" name="username" value="">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="row inputs">
                    <input type="password" placeholder="Пароль" id="password" name="password" value="">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="row mb-3">
                    <input type="checkbox" name="remember-me" id="remember-me" style="display: inline; width:30px">Запомнить
                    меня
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-default btn-primary text-center">Вход</button>
                </div>
                <div class="row">
                    <a href="/cabinet/registration" class="btn btn-default btn-primary text-center">Регистрация</a>
                </div>
                <div class="text-center">
                    <a href="/oauth2/authorization/github" class="btn btn-social-icon btn-lg btn-github">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="/auth/google" class="btn btn-social-icon btn-lg btn-google">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>