<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css?v=3.2.0">
    <link rel="stylesheet" href="/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</head>

<body class="sidebar-mini layout-fixed sidebar-closed -collapse" style="height: auto;" th:classappend="${theme == 'LIGHT' ? '' : 'dark-mode'}">
<div class="wrapper">
    <div th:replace="blocks/menu :: menu"></div>
    <div class="content-wrapper text-for-breadcrumb">
        <div class="content-header" style="display: flex; align-items: center;">
            <h4 style="margin-left: 10px; margin-right: auto;">
                <span th:text="#{Тарифы}"></span>
                - [[${flat.house.name}]], кв.[[${flat.number}]]
            </h4>
            <ol class="breadcrumb" style="margin-right: 1%">
                <li class="breadcrumb-item"><a th:href="@{/flat/{id}(id = ${user.flats.get(0).id})}"
                                               class="text-for-breadcrumb"><span th:text="#{Главная}"></span></a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span th:text="#{Тарифы}"></span> - [[${flat.house.name}]], кв.[[${flat.number}]]
                </li>
            </ol>
        </div>
        <section class="content">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" th:classappend="${theme == 'LIGHT' ? '' : 'table-dark'}">
                            <tr>
                                <th style="min-width: 150px"><span th:text="#{Услуга}"></span></th>
                                <th style="min-width: 250px"><span th:text="#{Ед._изм.}"></span></th>
                                <th style="min-width: 250px"><span th:text="#{Цена_за_ед.,_грн}"></span></th>
                            </tr>
                            <tr th:each="service : ${flat.tariff.getTariffAdditionalService()}">
                                <td>[[${service.additionalService.name}]]</td>
                                <td>[[${service.additionalService.unitOfMeasurement.name}]]</td>
                                <td>[[${service.price}]]</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="main-footer">
        Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a
            href="https://avada-media.ua/moydom24/">"МойДом24"</a>.
        Документация API доступна <a href="/doc">по ссылке</a>.
    </footer>
</div>

<script src="/adminlte/plugins/jquery/jquery.min.js"></script>
<script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/adminlte/dist/js/adminlte.js?v=3.2.0"></script>
<script src="/adminlte/dist/js/demo.js"></script>
<script src="/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

</body>

</html>