<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css?v=3.2.0">
    <link rel="stylesheet" href="/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body class="sidebar-mini layout-fixed sidebar-closed sidebar-collapse" style="height: auto;">
<div class="wrapper">
    <div th:replace="blocks/menu :: menu"></div>
    <div class="content-wrapper">
        <div class="content-header" style="display: flex; align-items: center;">
            <h4 style="margin-left: 10px; margin-right: auto;"><span th:text="#{Новый_владелец}"></span></h4>
            <ol class="breadcrumb text-for-breadcrumb" style="margin-right: 1%;">
                <li class="breadcrumb-item"><a href="/admin" class="text-for-breadcrumb"><span th:text="#{Главная}"></span></a>
                </li>
                <li class="breadcrumb-item"><a href="/admin/user/index/1" class="text-for-breadcrumb"><span th:text="#{Владельцы_квартир}"></span></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page"><span th:text="#{Новый_владелец}"></span></li>
            </ol>
        </div>
        <section class="content">
            <form method="post" action="/user/update" th:object="${userDTO}"
                  enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <div th:if="${userDTO.getImageName()} == null">
                                                <img class="img-circle pull-left img-responsive" id="previewImage1"
                                                     src="http://myhouse24.avada-media.ua/site/glide?path=%2Fupload%2Fplaceholder.jpg&amp;w=160&amp;h=160&amp;fit=crop"
                                                     style="width: 160px; height: 160px">
                                            </div>
                                            <div th:if="${userDTO.getImageName()} != null">
                                                <img class="img-circle pull-left img-responsive" id="previewImage1"
                                                     th:src="@{https://awss3bucketforavadatest.s3.eu-north-1.amazonaws.com/{name}(name = ${user.image})}"
                                                     style="width: 160px; height: 160px">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <b>
                                                <span th:text="#{Сменить_изображение}"></span></b>
                                            </br>
                                            <label for="fileIn"
                                                   style="cursor: pointer; margin-top: 10px; margin-bottom: 0px;"
                                                   class="btn btn-secondary" onchange="previewImage(event, 'previewImage1')">
                                                <i class="fa fa-file-image-o" aria-hidden="true"></i><span th:text="#{Додати_фото}"></span>
                                            </label>
                                            <input id="fileIn" type="file" style="display:none;" name="image" onchange="previewImage(event, 'previewImage1')">
                                            <div style="color: red; font-size: small; font-weight: bold; font-style: italic"
                                                 th:text="${error}"></div>
                                        </div>
                                    </div>
                                    <b>
                                        <span th:text="#{Фамилия}"></span>
                                        <input type="text" class="form-control" name="lastName"
                                               th:value="${userDTO.getLastName()}">
                                        <div style="color: red; font-size: small; font-weight: bold; font-style: italic"
                                             th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                                        <span th:text="#{Имя}"></span>
                                        <input type="text" class="form-control" name="firstName"
                                               th:value="${userDTO.getFirstName()}">
                                        <div style="color: red; font-size: small; font-weight: bold; font-style: italic"
                                             th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                                        <span th:text="#{Отчество}"></span>
                                        <input type="text" class="form-control" name="fathersName"
                                               th:value="${userDTO.getFathersName()}">
                                        <div style="color: red; font-size: small; font-weight: bold; font-style: italic"
                                             th:if="${#fields.hasErrors('fathersName')}"
                                             th:errors="*{fathersName}"></div>
                                        <span th:text="#{Дата_Рождения}"></span>
                                        <input type="date" class="form-control" name="birthday"
                                               th:value="${userDTO.getBirthday()}">
                                        <div style="color: red; font-size: small; font-weight: bold; font-style: italic"
                                             th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>
                                    </b>
                                    <h3 style="margin-top: 20px; font-weight: 5">
                                        <span th:text="#{Контактные_данные}"></span>
                                    </h3>
                                    <b>
                                        <span th:text="#{Телефон}"></span>
                                        <input type="number" class="form-control" name="phone"
                                               th:value="${userDTO.getPhone()}">
                                        <div style="color: red; font-size: small; font-weight: bold; font-style: italic"
                                             th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                                        Viber
                                        <input type="text" class="form-control" name="viber"
                                               th:value="${userDTO.getViber()}">
                                        <div style="color: red; font-size: small; font-weight: bold; font-style: italic"
                                             th:if="${#fields.hasErrors('viber')}" th:errors="*{viber}"></div>
                                        Telegram
                                        <input type="text" class="form-control" name="telegram"
                                               th:value="${userDTO.getTelegram()}">
                                        <div style="color: red; font-size: small; font-weight: bold; font-style: italic"
                                             th:if="${#fields.hasErrors('telegram')}" th:errors="*{telegram}"></div>
                                        Email (логин)
                                        <input type="text" class="form-control" name="email"
                                               th:value="${userDTO.getEmail()}">
                                        <div style="color: red; font-size: small; font-weight: bold; font-style: italic"
                                             th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                                    </b>
                                </div>
                                <div class="col">
                                    <b>
                                        <span th:text="#{Статус}"></span>
                                        <select class="form-select" name="status" aria-label="Default select example">
                                            <option th:text="${userDTO.getStatus()}"
                                                    th:value="${userDTO.getStatus()}"></option>
                                            <option th:each="status:${status}" th:text="${status}"
                                                    th:value="${status}"></option>
                                        </select>
                                        <div style="color: red; font-size: small; font-weight: bold; font-style: italic"
                                             th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></div>
                                        ID
                                        <input type="number" class="form-control" style="margin-bottom: 20px;" name="id" readonly
                                               th:value="${user.getId()}">
                                        <div style="color: red; font-size: small; font-weight: bold; font-style: italic"
                                             th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>
                                        <div style="color: red; font-size: small; font-weight: bold; font-style: italic" th:text="${idError}"></div>
                                        <span th:text="#{О_Владельце}"></span>
                                        <textarea type="text" class="form-control" style="height: 240px"
                                                  name="description">[[${user.description}]]</textarea>
                                        <div style="color: red; font-size: small; font-weight: bold; font-style: italic"
                                             th:if="${#fields.hasErrors('description')}"
                                             th:errors="*{description}"></div>
                                    </b>
                                    <h3 style="margin-top: 20px; font-weight: 5">
                                        <span th:text="#{Изменить_пароль}"></span>
                                    </h3>
                                    <b>
                                        <span th:text="#{Пароль}"></span>
                                        <div style="display: flex; align-items: center; width: 100%;">
                                            <input type="password" id="password-input" class="form-control"
                                                   style="flex: 1" name="password">
                                            <button type="button" id="generate-button" onclick="generatePassword()"
                                                    class="btn btn-outline-secondary"
                                                    style="width: 30%; height: 38px; font-size: 14px">
                                                <span th:text="#{Сгенерировать}"></span>
                                            </button>
                                            <button type="button" id="toggle-button"
                                                    onclick="togglePasswordVisibility()" class="btn btn-primary"
                                                    style="width: 10%; height: 38px">
                                                <i id="toggle-icon" class="fas fa-eye-slash"></i>
                                            </button>
                                        </div>
                                        <span th:text="#{Подтвердить_пароль}"></span>
                                        <input type="password" id="confirm-password-input" class="form-control"
                                               name="passwordAgain" style="margin-bottom: 20px;"
                                               oninput="checkPasswords()">
                                        <div id="password-match-message"
                                             style="color: red; font-size: small; font-weight: bold; font-style: italic; display: none;">
                                            Паролі не співпадають
                                        </div>
                                    </b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success float-right"><span th:text="#{Сохранить}"></span></button>
                        <a href="/admin/user/index/1" class="btn btn-outline-secondary float-right"
                           style="margin-right: 3px">
                            <span th:text="#{Отменить}"></span>
                        </a>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <footer class="main-footer">
        Разработано <a href="https://avada-media.ua/">AVADA-MEDIA</a>. На базе системы управления <a
            href="https://avada-media.ua/moydom24/">"МойДом24"</a>.
        Документация API доступна <a href="/doc">по ссылке</a>.
    </footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/adminlte/dist/js/adminlte.js?v=3.2.0"></script>
<script src="/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/script.js"></script>
<script>
    function previewImage(event, imageId) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById(imageId);
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
</body>
</html>
